@model Web.Models.Instructor.InstructorEditVM
@{
    ViewData["Title"] = "Edit";
}


<div class="container mt-4 custom-max-width">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title mb-4">Create Instructor</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="Create" method="post">

                <input type="hidden" asp-for="ID" />

                <div class="mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" placeholder="Enter last name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FirstMidName" class="form-label"></label>
                    <input asp-for="FirstMidName" class="form-control" placeholder="Enter first name" />
                    <span asp-validation-for="FirstMidName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.HireDate" class="form-label"></label>
                    <input asp-for="@Model.HireDate" class="form-control" type="date" />
                    <span asp-validation-for="@Model.HireDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="OfficeLocation" class="form-label"></label>
                    <input asp-for="OfficeLocation" class="form-control" placeholder="Enter Office" />
                    <span asp-validation-for="OfficeLocation" class="text-danger"></span>
                </div>
                <div class="card mb-3">
                    <div class="card-header fw-bold">Course Assignments</div>
                    <div class="card-body">
                        <div class="row">
                            @for (int i = 0; i < @Model.Courses.Count(); i++)
                            {
                                <div class="col-md-4 mb-2">
                                    <div class="form-check">
                                        <input type="hidden"
                                               name="Courses[@i].CourseID"
                                               value="@Model.Courses[i].CourseID" />
                                        <input type="hidden"
                                               name="Courses[@i].Title"
                                               value="@Model.Courses[i].Title" />
                                        <input class="form-check-input"
                                               type="checkbox"
                                               name="Courses[@i].IsAssigned"
                                               value="true"
                                               id="course_@Model.Courses[i].CourseID"
                                        @(Model.Courses[i].IsAssigned ? "checked" : "") />
                                        <label class="form-check-label"
                                               for="course_@Model.Courses[i].CourseID">
                                            @Model.Courses[i].CourseID - @Model.Courses[i].Title
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">Back</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
